hr {
    color:white;
    width: 200px;
    margin: 10px 0;
}

.register{
    background-image: url('https://www.10wallpaper.com/wallpaper/1366x768/1506/Beautiful_New_Zealand_Nature_Landscape_HD_Wallpaper_06_1366x768.jpg');
    background-size: cover;
    height: 979px;
    display: flex;
    justify-content: center;
    align-items: center;

    &__home{
        margin: 10px 0;
        background-color: #2E2B80;
        color: white;
        padding: 10px 20px;
        text-decoration: none;
        font-size: 20px;
        border: 2px solid white;
        position: fixed;
        left: 0;
        top: 0;
    }
    &__home:hover{
        margin: 10px 0;
        background-color: white;
        color: #2E2B80;
        padding: 10px 20px;
        text-decoration: none;
        font-size: 20px;
        border: 2px solid white;
        position: fixed;
        left: 0;
        top: 0;
    }

    &__box__form{
        display: flex;
        align-items: center;
        flex-direction: column;
        color:white;
        background-color: rgba(0, 0, 0, 0.356);
        width: 300px;
        text-align: center;
        padding: 20px 15px;

        &__email, &__pass, &__title{
            margin: 10px 0;
        }

        &__pass__text{
            margin: 10px 0;
            font-size: 20px;
        }

        &__button{
            margin: 10px 0;
            background-color: #2E2B80;
            color: white;
            padding: 10px 20px;
            text-decoration: none;
            font-size: 20px;
            border: 2px solid white;
        }
        &__button:hover{
            margin: 10px 0;
            background-color: white;
            color: #2E2B80;
            padding: 10px 20px;
            text-decoration: none;
            font-size: 20px;
            border: 2px solid white;
        }
    }
}
