.hotels{

    margin: 30px 50px;

    &__title{
        margin: 30px 0px;
        text-align: center;
    }

    &__box{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        &__list{
            margin: 15px 10px;
            width: 400px;

            &__image{
                width: 387px;
                height: 70%;
            }
        }
    }
}