.reviews{
    &__title{
        text-align: center;
        margin: 20px 0;
    }

    &__box{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;


        &__list{
            margin: 20px;
            width: 400px;
            padding: 15px;
            border: 1px solid black;
            border-radius: 10px;
            background-color: rgba(100, 148, 237, 0.431);
        }
    }

}