.reviewForm{
    display: flex;
    justify-content: center;

    &__hr{
        width: 395px;
    }

    &__form{
        display: flex;
        flex-direction: column;
        margin: 53px;
        background-color: #2E2B80;
        width: 400px;
        padding: 20px 10px;
        color:white;
    }

    &__title{
        text-align: center;
        margin: 15px 0;
    }

    &__box{
        display: flex;
        justify-content: center;

        input{
            margin: 10px 0;
        }

        &__button{
            text-align: center;
            margin: 10px;

            &__b{
                background-color: #2E2B80;
                color: white;
                padding: 10px 20px;
                text-decoration: none;
                font-size: 20px;
                border: 2px solid white;
                text-align: center;
            }
            &__b:hover{
                background-color: white;
                color: #2E2B80;
                padding: 10px 20px;
                text-decoration: none;
                font-size: 20px;
                border: 2px solid white;
                text-align: center;
            }
        }
    }
}