.home{

    background-image: url('https://i.pinimg.com/originals/8a/10/37/8a10377f0144cb32768848eedaeb93ae.jpg');
    height: 750px;
    width: 100%;
    display: flex;

    &__box{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__box1{
        background-color: rgba(0, 0, 0, 0.411);
        width: 800px;
        display: flex;
        align-items: center;
        flex-direction: column;

        
        &__title{
            font-size: 60px;
            color: white;
        }
        &__title2{
            font-size: 60px;
            color:white;
        }
    }
    &__box2 {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 0px 300px;
        width: 400px;
        background-color: #2e2b807c;
        border-radius: 25px;

        &__login{
            margin: 50px 0;

            &__link {
                background-color: #2E2B80;
                color: white;
                padding: 10px 20px;
                text-decoration: none;
                font-size: 20px;
                border: 2px solid white;
            }
            &__link:hover {
                background-color: white;
                color:  #2E2B80;
                padding: 10px 20px;
                text-decoration: none;
                font-size: 20px;
                border: 2px solid white;
            }
        }

        &__register{
            margin: 50px 0;
            &__link{
                background-color: #2E2B80;
                color: white;
                padding: 10px 20px;
                text-decoration: none;
                font-size: 20px;
                border: 2px solid white;
            }
            &__link:hover {
                background-color: white;
                color:  #2E2B80;
                padding: 10px 20px;
                text-decoration: none;
                font-size: 20px;
                border: 2px solid white;
            }
        }
    }   
}