.header{

    background-color: #2E2B80;
    height: 125px;
    border-bottom: 2px solid white;

    &__navbar{
        display: flex;

        &__right{
            flex: 1;
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            &__link{
                background-color: #2E2B80;
                color: white;
                padding: 10px 20px;
                text-decoration: none;
                font-size: 20px;
                border: 2px solid white;
            }

            &__link:hover{
                background-color: white;
                color:  #2E2B80;
                padding: 10px 20px;
                text-decoration: none;
                font-size: 20px;
            }
        }

        &__left{
            flex: 1;
            margin: 0 20px;

            &__img{
                width: 125px;;
            }
        }
    }
}