.footer{

    bottom: 0;
    width: 100%;
    height: 100px;
    background-color:#2e2b80;
    display: grid;
    align-content: center;
    color: white;
    border-top: 2px solid white;

    &__navbar{
        display: flex;

        &__left{
            flex: 1;
            display: flex;
            margin: 0 30px;
            align-items: center;
        }
        
        &__right{
            flex: 1;
            flex-direction: row;
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: space-evenly;

            &__insta{
                img{
                    width: 20px;
                    color: white;
                }
            }
            &__facebook{
                img{
                    width: 20px;
                }
            }
            &__twitter{
                img{
                    width: 20px;
                }
            }
        }
    }
}