*{
    margin: 0;
}

.App{

    &__button__logout{
        background-color: #2e2b80;
        color: white;
        float: right;
        border-color: #2e2b80;
        padding: 5px;
        margin: 0 15px;
        border: 2px solid white;
        position: absolute;
        right: 5px;

    }

    &__button__logout:hover{
        background-color: white;
        color: #2e2b80;
        float: right;
        border-color: white;
        padding: 5px;
        margin: 0 15px;
        position: absolute;
        right: 5px;


    }
}